In [6]:
# if (!requireNamespace("remotes", quietly = TRUE)) {
#   install.packages("remotes")
# }
# remotes::install_github("mojaveazure/seurat-disk", upgrade = FALSE)

In [1]:
library(nichenetr)
library(Seurat) # please update to Seurat V4
# library(SeuratObject)
library(tidyverse)
library(anndata)

Attaching SeuratObject

Attaching sp

── Attaching packages ──────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ─────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘anndata’


The following object is masked from ‘package:readr’:

    read_csv

In [2]:
utils::packageVersion('Seurat')

[1] ‘4.1.1’

In [3]:
# seuratObj = readRDS('data/seuratObj.rds')
adata = read_h5ad('data/GSE120575_annotated.h5ad')
adata

AnnData object with n_obs × n_vars = 16215 × 45884
    obs: 'Sample name', 'source name', 'organism', 'sample_id', 'response', 'therapy', 'patient_id', 'time_point', 'n_genes', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'cell_type'
    var: 'n_cells', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'
    uns: 'cell_type_colors', 'neighbors', 'pca', 'rank_genes_groups', 'umap'
    obsm: 'X_pca', 'X_umap'
    varm: 'PCs'
    obsp: 'connectivities', 'distances'

In [7]:
head(adata$X)

           TSPAN6 TNMD DPM1 SCYL3 C1orf112 FGR CFH FUCA2 GCLC NFYA ⋯
A10_P3_M11 0      0    0.00 0     0        0   0   0     0.00 0    ⋯
A11_P1_M11 0      0    9.24 0     0        0   0   0     1.01 0    ⋯
A11_P3_M11 0      0    0.00 0     0        0   0   0     0.00 0    ⋯
A11_P4_M11 0      0    7.99 0     0        0   0   0     0.00 0    ⋯
A12_P3_M11 0      0    0.00 0     0        0   0   0     0.00 0    ⋯
A12_P6_M11 0      0    0.00 0     0        0   0   0     0.00 0    ⋯
           RP11-126K1.9 RP4-671G15.2 OR6R2P RP11-225H22.7 RP11-731C17.2
A10_P3_M11 0            0            0      0             8.1
A11_P1_M11 0            0            0      0             0.0
A11_P3_M11 0            0            0      0             0.0
A11_P4_M11 0            0            0      0             0.0
A12_P3_M11 0            0            0      0             0.0
A12_P6_M11 0            0            0      0             0.0
           RP4-621B10.8 RP11-114I8.4 RP11-180C16.1 AP000230.1 RP11-80H18.4
A10_P3_M11 0            0            0.0           0          0
A11_P1_M11 0            0            0.0           0          0
A11_P3_M11 0            0            0.0           0          0
A11_P4_M11 0            0            0.0           0          0
A12_P3_M11 0            0            0.0           0          0
A12_P6_M11 0            0            1.1           0          0

In [9]:
tail(adata$X)

                          TSPAN6 TNMD DPM1 SCYL3 C1orf112 FGR  CFH FUCA2 GCLC
H4_P5_M67_L001_T_enriched 0      0    0.00 0     0.61     6.72 0   0     0.00
H5_P5_M67_L001_T_enriched 0      0    7.34 0     7.65     0.00 0   0     0.00
H6_P5_M67_L001_T_enriched 0      0    0.00 0     0.00     0.00 0   0     0.00
H7_P5_M67_L001_T_enriched 0      0    0.00 0     0.00     0.00 0   0     0.00
H8_P5_M67_L001_T_enriched 0      0    0.00 0     0.00     0.00 0   0     1.81
H9_P5_M67_L001_T_enriched 0      0    0.00 0     0.00     0.00 0   0     0.00
                          NFYA ⋯ RP11-126K1.9 RP4-671G15.2 OR6R2P RP11-225H22.7
H4_P5_M67_L001_T_enriched 0    ⋯ 0            0            0      0
H5_P5_M67_L001_T_enriched 0    ⋯ 0            0            0      0
H6_P5_M67_L001_T_enriched 0    ⋯ 0            0            0      0
H7_P5_M67_L001_T_enriched 0    ⋯ 0            0            0      0
H8_P5_M67_L001_T_enriched 0    ⋯ 0            0            0      0
H9_P5_M67_L001_T_enriched 0    ⋯ 0            0            0      0
                          RP11-731C17.2 RP4-621B10.8 RP11-114I8.4 RP11-180C16.1
H4_P5_M67_L001_T_enriched 0.0           0            0            0
H5_P5_M67_L001_T_enriched 1.7           0            0            0
H6_P5_M67_L001_T_enriched 0.0           0            0            0
H7_P5_M67_L001_T_enriched 0.0           0            0            0
H8_P5_M67_L001_T_enriched 0.0           0            0            0
H9_P5_M67_L001_T_enriched 0.0           0            0            0
                          AP000230.1 RP11-80H18.4
H4_P5_M67_L001_T_enriched 0          0
H5_P5_M67_L001_T_enriched 0          0
H6_P5_M67_L001_T_enriched 0          0
H7_P5_M67_L001_T_enriched 0          0
H8_P5_M67_L001_T_enriched 0          0
H9_P5_M67_L001_T_enriched 0          0

In [8]:
head(adata$obs)

           Sample name source name          organism     sample_id response
A10_P3_M11 Sample 1    Melanoma single cell Homo sapiens Pre_P1    Responder
A11_P1_M11 Sample 2    Melanoma single cell Homo sapiens Pre_P1    Responder
A11_P3_M11 Sample 3    Melanoma single cell Homo sapiens Pre_P1    Responder
A11_P4_M11 Sample 4    Melanoma single cell Homo sapiens Pre_P1    Responder
A12_P3_M11 Sample 5    Melanoma single cell Homo sapiens Pre_P1    Responder
A12_P6_M11 Sample 6    Melanoma single cell Homo sapiens Pre_P1    Responder
           therapy    patient_id time_point n_genes n_genes_by_counts
A10_P3_M11 anti-CTLA4 P1         Pre        2050    2050
A11_P1_M11 anti-CTLA4 P1         Pre        1573    1573
A11_P3_M11 anti-CTLA4 P1         Pre        1591    1590
A11_P4_M11 anti-CTLA4 P1         Pre        2909    2909
A12_P3_M11 anti-CTLA4 P1         Pre        1211    1210
A12_P6_M11 anti-CTLA4 P1         Pre        2715    2715
           total_counts total_counts_mt pct_counts_mt cell_type
A10_P3_M11 14624.81     171.21          1.1706818     Dendritic cells
A11_P1_M11 11933.60     160.35          1.3436852     B cells
A11_P3_M11 11877.65     176.23          1.4837110     Memory T cells
A11_P4_M11 19693.54     146.83          0.7455744     Regulatory T cells
A12_P3_M11  9182.32     196.08          2.1354077     others
A12_P6_M11 18240.40     140.46          0.7700490     CD8+ T cells

In [4]:
seuratObj = Seurat::CreateSeuratObject(t(adata$X), 
                               project = "GSE120575_annotated", 
                               assay = "RNA",
                               min.cells = 0, 
                               min.features = 0, 
                               names.field = 2,
                               names.delim = "_", 
                               meta.data = adata$obs)
seuratObj

Warning message:
“Feature names cannot have underscores ('_'), replacing with dashes ('-')”
Warning message:
“Invalid name supplied, making object name syntactically valid. New object name is Sample.namesource.nameorganismsample_idresponsetherapypatient_idtime_pointn_genesn_genes_by_countstotal_countstotal_counts_mtpct_counts_mtcell_type; see ?make.names for more details on syntax validity”

An object of class Seurat
45884 features across 16215 samples within 1 assay
Active assay: RNA (45884 features, 0 variable features)

In [5]:
head(seuratObj@active.ident)

A10_P3_M11 A11_P1_M11 A11_P3_M11 A11_P4_M11 A12_P3_M11 A12_P6_M11
        P3         P1         P3         P4         P3         P6
Levels: P1 P10 P11 P12 P2 P3 P4 P5 P6 P7 P8 P9

In [6]:
head(seuratObj@active.ident)

W380370 W380372 W380374 W380378 W380379 W380381
  CD8 T   CD4 T   CD4 T   CD8 T   CD4 T   CD4 T
Levels: CD8 T CD4 T Treg B NK Mono DC

In [7]:
head(seuratObj@meta.data)

        nGene nUMI orig.ident aggregate res.0.6 celltype nCount_RNA
W380370 880   1611 LN_SS      SS        1       CD8 T    1607
W380372 541    891 LN_SS      SS        0       CD4 T     885
W380374 742   1229 LN_SS      SS        0       CD4 T    1223
W380378 847   1546 LN_SS      SS        1       CD8 T    1537
W380379 839   1606 LN_SS      SS        0       CD4 T    1603
W380381 517    844 LN_SS      SS        0       CD4 T     840
        nFeature_RNA
W380370 876
W380372 536
W380374 737
W380378 838
W380379 836
W380381 513

In [3]:
ligand_target_matrix = readRDS('data/ligand_target_matrix.rds')
ligand_target_matrix[1:5,1:5]

         CXCL1        CXCL2        CXCL3        CXCL5        PPBP
A1BG     3.534343e-04 4.041324e-04 3.729920e-04 3.080640e-04 2.628388e-04
A1BG-AS1 1.650894e-04 1.509213e-04 1.583594e-04 1.317253e-04 1.231819e-04
A1CF     5.787175e-04 4.596295e-04 3.895907e-04 3.293275e-04 3.211944e-04
A2M      6.027058e-04 5.996617e-04 5.164365e-04 4.517236e-04 4.590521e-04
A2M-AS1  8.898724e-05 8.243341e-05 7.484018e-05 4.912514e-05 5.120439e-05

In [4]:
lr_network = readRDS('data/lr_network.rds')
head(lr_network)

  from  to    source         database
1 CXCL1 CXCR2 kegg_cytokines kegg
2 CXCL2 CXCR2 kegg_cytokines kegg
3 CXCL3 CXCR2 kegg_cytokines kegg
4 CXCL5 CXCR2 kegg_cytokines kegg
5 PPBP  CXCR2 kegg_cytokines kegg
6 CXCL6 CXCR2 kegg_cytokines kegg

In [6]:
weighted_networks = readRDS('data/weighted_networks.rds')
weighted_networks_lr = weighted_networks$lr_sig %>% 
    inner_join(lr_network %>% 
               distinct(from,to), 
               by = c("from","to"))
head(weighted_networks$lr_sig)

  from to     weight
1 A1BG ABCC6  0.42164389
2 A1BG ACE2   0.10074109
3 A1BG ADAM10 0.09698978
4 A1BG AGO1   0.05245879
5 A1BG AKT1   0.08553468
6 A1BG ANXA7  0.45659947

## Define the sender and receiver niches

In [13]:
## receiver
receiver = "CD8+ T cells"
# receiver = "CD8 T"
expressed_genes_receiver = get_expressed_genes(receiver, seuratObj, pct = 0.10)

background_expressed_genes = expressed_genes_receiver %>% 
    .[. %in% rownames(ligand_target_matrix)]

In [ ]:
## sender
sender_celltypes = c("CD4+ T cells",
                     "Dendritic cells", 
                     "Regulatory T cells", 
                     "B cells", 
                     "Macrophages")

list_expressed_genes_sender = sender_celltypes %>% 
    unique() %>% 
# lapply to get the expressed genes of every sender cell type separately here
    lapply(get_expressed_genes, seuratObj, 0.10) 
expressed_genes_sender = list_expressed_genes_sender %>% 
    unlist() %>% 
    unique()

## Define a gene set of interest

In [15]:
seurat_obj_receiver = subset(seuratObj, 
                             idents = receiver)
# head(seurat_obj_receiver)
seurat_obj_receiver = SetIdent(seurat_obj_receiver, 
                               value = seurat_obj_receiver[["aggregate"]])

condition_oi = "LCMV"
condition_reference = "SS" 
  
DE_table_receiver = FindMarkers(
    object = seurat_obj_receiver, 
    ident.1 = condition_oi, 
    ident.2 = condition_reference, 
    min.pct = 0.10
) %>% 
    rownames_to_column("gene")

geneset_oi = DE_table_receiver %>% 
    filter(p_val_adj <= 0.05 & abs(avg_log2FC) >= 0.25) %>% 
    pull(gene)
geneset_oi = geneset_oi %>% 
    .[. %in% rownames(ligand_target_matrix)]

        nGene nUMI orig.ident aggregate res.0.6 celltype nCount_RNA
W380370  880  1611 LN_SS      SS        1       CD8 T    1607
W380378  847  1546 LN_SS      SS        1       CD8 T    1537
W380386 1336  3132 LN_SS      SS        1       CD8 T    3118
W380393 1130  2377 LN_SS      SS        1       CD8 T    2369
W380395  948  1719 LN_SS      SS        1       CD8 T    1711
W380401  829  1692 LN_SS      SS        1       CD8 T    1686
W380410  909  1797 LN_SS      SS        1       CD8 T    1788
W380417 1125  2296 LN_SS      SS        1       CD8 T    2289
W380418  744  1356 LN_SS      SS        1       CD8 T    1353
W380422  501   781 LN_SS      SS        1       CD8 T     775
        nFeature_RNA
W380370  876
W380378  838
W380386 1325
W380393 1122
W380395  941
W380401  826
W380410  900
W380417 1118
W380418  741
W380422  496